1. What is an algorithm?

   - An algorithm is a series of steps to solve a problem at hand

2. Variable names may not start with certain characters - name two

   i. Numbers \
   ii. Special characters

3. What is a Semantic error?

   - code is grammatically correct but doesn't make any sense; it does not produce the expected results

4. What is the #1 rule of coding/debugging?

  - Complexity is the enemy of efficiency!

5. List 5 Python reserved words.

   i. from \
   ii. and \
   iii. if \
   iv. import \
   v. else

6. Write a multi-line comment with your name, favorite food, and dreamjob on 3 different lines

In [1]:
# My name is Sylvester Opoku
# My favorite food is called Jollof Rice
# My dream job is to become a Data Analyst

7. Assign 5 different data types to 5 different variables. At least one datatype must be a string

In [2]:
var1, var2, var3, var4, var5 = 1, 1.2, 'Massachusetts', 3, 'Missouri'
print(var1, var2, var3, var4, var5)

1 1.2 Massachusetts 3 Missouri

In [3]:
my_var1= 10
my_var2 = 'Photosynthesis'
my_var3 = 3.5
my_var4 = (1,2,3,4)
my_var5 = {'Soap':'Dove'}
print('the length of my string is = ', len(my_var2))
print('the index value of the 4th character is =', my_var2[3])

the length of my string is =  14
the index value of the 4th character is = t

7.1 Print the length of your string

In [4]:
# length of my string
length1= len(var3)
length2= len(var5)
print(length1)
print(length2)

13
8

7.2 Print the index value of the 4th character in your string

In [5]:
# printing the index of the 4th variable
print(var3[3])
print(var5[3])

s
s

8. Create a new variable called savvy, and assign it the string with this phrase "Learning Data Analytics and Python is Awesome"

In [6]:
savvy='Learning Data Analytics and Python is Awesome!'
print(savvy)

Learning Data Analytics and Python is Awesome!

8.1 Return a range of characters that slices the above string from the beginning of "ing" up to before "and"

In [211]:
# slicing the above string from ing up to before "and"
print('slicing from the 5th character to the 24th character=', savvy[5:24])

slicing from the 5th character to the 24th character= ing Data Analytics

8.2 Replace "Awesome" with "great" in the string

In [8]:
# Replacing Awesome with great in the string above
savvy1= savvy.replace('Awesome', 'great')
print(savvy1)

Learning Data Analytics and Python is great!

9. Create and assign 3 more variables called name, age and length using the multi-variable naming method

In [9]:
Name, Length, Age = 'Sylvester', 5.6, 29
print(Name, Length, Age)

Sylvester 5.6 29

9.1 Format a new string called 'miniBio' using variables in curly brackets to complete this phrase... "Hi my name is (name), I am (tall) and (so) old today."

In [212]:
miniBio= 'My name is {}, I am {} tall, and {} years old today'
# Print 'miniBio'
print(miniBio.format(Name, Length, Age) )

My name is Sylvester, I am 5.6 tall, and 29 years old today

9.3 Cast and print the age variable to a float

In [213]:
# casting to a float
cast = float(29)
print(cast)

29.0

In [215]:
# Age been cast to a float
print(miniBio.format(Name, Length, cast) )

My name is Sylvester, I am 5.6 tall, and 29.0 years old today

## Complex Data Types:

10.0 Create a list of at least 5 elements of mixed data types

In [216]:
# Create a list of at least 5 elements of mixed data types
my_list = ["Hello", "SavvyCoders", 9.2, 'Data', "is", "Captain_America", 5]
my_list[1:3] = ["python", "sweet"]
# Replace a part of it with something else
print(" replaced [2:4] =", my_list)

 replaced [2:4] = ['Hello', 'python', 'sweet', 'Data', 'is', 'Captain_America', 5]

In [217]:
print('my new list is =', my_list)

my new list is = ['Hello', 'python', 'sweet', 'Data', 'is', 'Captain_America', 5]

10.3 Appending an element

In [19]:
# 'APPEND' elements at the end of the list
my_list
my_list[2:5] = ["SavvyCoders", "July", "cohort"]
print(" replaced [2:5] ... ", my_list)

 replaced [2:5] ...  ['Hello', 'python', 'SavvyCoders', 'July', 'cohort', 'Captain_America', 5]

In [218]:
# 10.4 Finding my length of my new list
print('The length of my_list is =',len(my_list))

The length of my_list is = 7

In [219]:
# 10.5 Slice a sub-section of the 1st list, and save it to a different 2nd list 
# Print the 2nd list
my_list
if 'SavvyCoders' in my_list:
    print("Indeed, 'SavvyCoders' is the best.")

my_list2=my_list[1:8]
print('This is my subset is =', my_list2)

This is my subset is = ['python', 'sweet', 'Data', 'is', 'Captain_America', 5]

10.6 Extend your original list with the 2nd list sliced above

In [42]:
# 'EXTEND' one list with another
my_list1 = ['Hello', 'python', 'sweet', 'Data', 'is', 'Captain_America', 5]
my_list2 = ['python', 'SavvyCoders', 'July', 'cohort', 'Captain_America', 5]

my_list1.extend(my_list2)
print("Extended my_list is = ", my_list)

Extended my_list is =  ['Hello', 'python', 'SavvyCoders', 'July', 'cohort', 'Captain_America', 5]

10.7 Create a new list called "simList" containing at least 5 elements of the same data type, either string, integer, float, or Boolean

In [30]:
simList= [1,2,3,4,5,6,7,8,9,10]
print('simList =',simList)

simList = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

10.8 Sort "simList", and print the list

In [31]:
# 'sort' a list descending
simList= [1,2,3,4,5,6,7,8,9,10]
simList.sort(reverse=True)
print("Sorted in descending order is = ", simList)

Sorted in descending order is =  [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

10.9 Copy the "simList" list to another 3rd list

In [33]:
simList1 = simList.copy()
print('copy of simList is =', simList1)

copy of simList is = [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

10.11 Add the 2nd and 3rd lists together into a 4th list

In [35]:
combinedList = simList1+simList
print(combinedList)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

11. Create a tuple of about 5 elements

In [230]:
my_tuple=((1,2), (3,4), 28, (1.2,1.3), (4,7))
print('my 1st tuple is =', my_tuple)

my 1st tuple is = ((1, 2), (3, 4), 28, (1.2, 1.3), (4, 7))

In [231]:
# Multiply your tuple by 3 and save it to a new 2nd tuple
my_tuple2= my_tuple*3
print('my second tuple is=', my_tuple2)

my second tuple is= ((1, 2), (3, 4), 28, (1.2, 1.3), (4, 7), (1, 2), (3, 4), 28, (1.2, 1.3), (4, 7), (1, 2), (3, 4), 28, (1.2, 1.3), (4, 7))


11.2 Access and print the 12th element from the 2nd tuple

In [232]:
element8 = my_tuple2[7]
print('The eight element is =', element8)

The eight element is = 28

In [235]:
# Sorting the 2nd tuple
Tuple_sorted = sorted(my_tuple)
print(Tuple_sorted)

TypeError: '<' not supported between instances of 'int' and 'tuple'

11.3 Copy 4 specific elements from your 2nd tuple to a new 3nd tuple

In [234]:
my_tuple3 = my_tuple2[2:9]
print(my_tuple3)

(28, (1.2, 1.3), (4, 7), (1, 2), (3, 4), 28, (1.2, 1.3))

In [165]:
# Create a set of about 3 elements
Set1={1,3,2}
print('my first set is =', Set1)

my first set is = {1, 2, 3}

In [166]:
# Add a list of fruits to the above set and print the result
Set1.add('Grapes')
print('my updated set is=', Set1)

my updated set is= {1, 2, 3, 'Grapes'}

In [167]:
# Add a car element to your set
Set1.add('Volvo')
print('my new set is=',Set1)

my new set is= {1, 2, 3, 'Grapes', 'Volvo'}

In [168]:
# Create a 2nd set with a few odd items
Set2= {'Boston', 'Lays', 'covid-19'}
print('my odd set is =', Set2)

my odd set is = {'covid-19', 'Boston', 'Lays'}

In [169]:
# Save the union of 1st set and 2nd set to a 3rd set
Set3 = Set1.union(Set2)
print('my combined sets is =', Set3)

my combined sets is = {1, 2, 3, 'Volvo', 'Grapes', 'Lays', 'covid-19', 'Boston'}

In [170]:
# Pop an element from the 2nd set, and print the remainder of the set
Set2i= Set2.pop()
print(Set2)

{'Boston', 'Lays'}

In [171]:
# Clear the 1st set and print the result
Set1i= Set1.clear()
print("cleared set is =", Set1i)

cleared set is = None

In [172]:
# Discard an element, and remove another element from the 3rd set
Set3.remove('Volvo')

In [173]:
# Print the remainder of the 3rd set
print(Set3)

{1, 2, 3, 'Grapes', 'Lays', 'covid-19', 'Boston'}

In [188]:
# Create a dictionary with at least 5 values of different data types
my_Dict={'Name':'Kwaku', 'Car':'Benz', 'Cohort':'SavvyCoders', 'Food':'Jollof', 'Soda':'Fanta'}
print('my first dictionary is =', my_Dict)

my first dictionary is = {'Name': 'Kwaku', 'Car': 'Benz', 'Cohort': 'SavvyCoders', 'Food': 'Jollof', 'Soda': 'Fanta'}

In [189]:
# Print out 1 value
print(my_Dict.get('Cohort'))

SavvyCoders

In [190]:
# Replace any one value in your dictionary with your name
my_Dict['Name']='Sylvester'
print('my updated dictionary is =', my_Dict)

my updated dictionary is = {'Name': 'Sylvester', 'Car': 'Benz', 'Cohort': 'SavvyCoders', 'Food': 'Jollof', 'Soda': 'Fanta'}

In [191]:
# Add your favorite color to the dictionary
my_Dict['color'] = 'Blue'
print('my updated dictionary with my fav clor is =', my_Dict)

my updated dictionary with my fav clor is = {'Name': 'Sylvester', 'Car': 'Benz', 'Cohort': 'SavvyCoders', 'Food': 'Jollof', 'Soda': 'Fanta', 'color': 'Blue'}

In [194]:
#Add a list, tuple or set to your dictionary
my_Dict['list']=[1,2,3,6]
print('My updated dictionary is =', my_Dict)

My updated dictionary is = {'Name': 'Sylvester', 'Car': 'Benz', 'Cohort': 'SavvyCoders', 'Food': 'Jollof', 'Soda': 'Fanta', 'color': 'Blue', 'list': [1, 2, 3, 6]}

In [195]:
#Print a list of the dictionary keys
print('only my keys is =', my_Dict.keys())

only my keys is = dict_keys(['Name', 'Car', 'Cohort', 'Food', 'Soda', 'color', 'list'])

In [197]:
#Print a list of the dictionary values
print('only my dictionary values is =', my_Dict.values())

only my dictionary values is = dict_values(['Sylvester', 'Benz', 'SavvyCoders', 'Jollof', 'Fanta', 'Blue', [1, 2, 3, 6]])

In [208]:
#Copy your 1st dictionary into a 2nd dictionary
my_Dict2= my_Dict.copy()
print('A copy of my dictionary is =', my_Dict2)

A copy of my dictionary is = {'Name': 'Sylvester', 'Car': 'Benz', 'Cohort': 'SavvyCoders', 'Food': 'Jollof', 'Soda': 'Fanta', 'color': 'Blue', 'list': [1, 2, 3, 6]}

In [209]:
#Pop an item from the 2nd dictionary, and print the dictionary
my_Dict2.popitem()
print('popping the last item from the dictionary is = ', my_Dict2)

popping the last item from the dictionary is =  {'Name': 'Sylvester', 'Car': 'Benz', 'Cohort': 'SavvyCoders', 'Food': 'Jollof', 'Soda': 'Fanta', 'color': 'Blue'}

In [210]:
# Remove all the elements from the 2nd dictionary and print the result
my_Dict2.clear()
print('everything cleared out is =', my_Dict2)

everything cleared out is = {}