Q1. What does one need to do to use a module?\
*One needs to import the respective module before it can be use*

Q2. Name a Module (not the DateTime Nodule) we looked at and write a line or 2 of code as an example using this module.
* random module

In [3]:
# using random methods
import random

# Return a number between 1 and 20:
Counting_No=random.randrange(1,21)
print("Getting a counting number ...", Counting_No)

Getting a counting number ... 11

Q3. What is a benefit of using Exception handling?
* It helps you to test a block of codes for an error
* It also helps you to execute a code regardless of the results

Q4. what are the 4 components used for Python Exception Handling?
* try
* except
* else
* finally

Q5. NumPy arrays are like what Python data type?
* List

Q6. What is one of the main benefits of using NumPy arrays.
* saves time because it is fast
* it uses less memory
* it is very convenient

Q7. What is one of the main requirements about the 'dtype' of NumPy arrays?
* object
* align
* copy

Q8. Of the 10 uses of NumPy, name 2.
* NumPy can be used as an efficient multi-dimensional container of generic data
* Adds powerful data structures to Python that guarantee efficient calculations with arrays and matrices

Q9. Name one of the other libraries we'll use with NumPy?
* SciPy
* Pandas
* Matplotlib
* Tkinter

Q10. What is the shape of NumPy arrays?
* refers to the dimensions or the size of each axis of the array

Q11. What is a Tensor?
* an array with 3+ dimensions

Q12. Name a reason why it's better using NumPy for Data Analysis than using a Python List?
* very fast and uses less memory

Q13. When creating an "empty" array, where do the elements come from?
* is random and depends on the state of the memory

## Flow Control Methods

Q1. Create an if statement: if 'age' is greater than or equal to 25, print "Renting a car is more affordable", however if 'age' is less than 25, print "Renting a car is very expensive."

In [4]:
age= 26
age1 =20
if age >= 25:
    print('Renting car is more affordable')
if age1 < 25:
    print('Renting car is very expensive')

Renting car is more affordable
Renting car is very expensive

Q2. Create and chain an if-else statement: if 'age' is greater than or equal to 25, print "Renting a car is more affordable." If 'age' is less than 25 but greater than or equal to 18, print "Renting a car is very expensive." Finally, if age is less than 18, print "You cannot legally rent a car."

In [5]:
age = 29
print("age = ", age)

if age >= 25:
    print("Renting car is more affordable")
    if age >= 18 and age < 25:
        print("Renting car is very expensive")  
else:
    print("You cannot legally rent a car.")

age =  29
Renting car is more affordable

In [6]:
age = 24
print("age = ", age)

if age >= 25:
    print("Renting car is more affordable")
if age >= 18 and age < 25:
        print("Renting car is very expensive")
else:
    print("You cannot legally rent a car.")

age =  24
Renting car is very expensive

In [7]:
age = 18
print("age = ", age)

if age >= 25:
    print("Renting car is more affordable")
    if age< 25 and age >= 18:
        print("Renting car is very expensive")
else:
    print("You cannot legally rent a car.")

age =  18
You cannot legally rent a car.

Q3. Loop over the following string to (1) count all the characters in the string and (2) print out all the vowels -- "The quick brown fox jumps over the lazy dog"

In [8]:
my_string ='The quick brown fox jumps over the lazy dog'
#  count all the characters in the string
print('all my characters is =', len(my_string))

all my characters is = 43

In [9]:
# print out all the vowels
my_string ='The quick brown fox jumps over the lazy dog'
for i in my_string:
    if not i in "aeiou":
        continue
    print(i)

e
u
i
o
o
u
o
e
e
a
o

Q4. Write a nested loop that prints out every piece of clothing from the couture list, in every fashionable color from the panettone set: couture = ["trousers", "blouse", "bandana", "cumber band", "blazer", "vest", "french beret", "scarf", "stole"] and panettone = {"cerise", "fuchsia", "aqua", "maple", "auburn", "burnt sienna", "gunmetal blue", "Dark Sapphire"}

Q5. Use range as a loop to calculate the sum of all the numbers from 1 to 100

In [10]:
sum=0
for i in range(1, 100):
    sum+= i
print(sum)

4950

In [11]:
sum=0
for i in range(1, 50):
    sum+= i
print(sum)

1225

Q6. Print the second item in this fruits list. ["apple", "banana", "cherry"]

In [12]:
fruit_list=['apple','banana','cherry']
print('the second item is=', fruit_list[1])

the second item is= banana

Q7. Change the value from "apple" to "kiwi", in the fruits list. ["apple", "banana", "cherry"]

In [13]:
fruit_list1=['apple','banana','cherry']
fruit_list1[1] = 'kiwi'
print('updated fruit list is =',fruit_list1)

updated fruit list is = ['apple', 'kiwi', 'cherry']

Q8. Use the append method to add "orange" to the fruits list. ["apple", "banana", "cherry"]

In [14]:
# 'APPEND' elements at the end of the list
fruit_list2=['apple','banana','cherry']
fruit_list2.append('orange')
print(" new fruit list ", fruit_list2)

 new fruit list  ['apple', 'banana', 'cherry', 'orange']

Q9. Use the insert method to add "lemon" as the second item in the fruits list. ["apple", "banana", "cherry"]

In [15]:
fruit_list3=['apple','banana','cherry']
fruit_list3.insert(1,'lemon')
print(" adding lemon as second item ", fruit_list3)

 adding lemon as second item  ['apple', 'lemon', 'banana', 'cherry']

Q10. Use the remove method to remove "banana" from the fruits list. ["apple", "banana", "cherry"]

In [16]:
fruit_list4=['apple','banana','cherry']
fruit_list4.remove('banana')
print(" removing banana from fruit list ", fruit_list4)

 removing banana from fruit list  ['apple', 'cherry']

Q11. Use negative indexing to print the 3rd and 2nd to last items in the list. ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

In [17]:
fruity=["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
# 3rd item
print('3rd item from the right is=', fruity[-3])

# 2nd item
print('2nd item from the right is=', fruity[-2])

3rd item from the right is= kiwi
2nd item from the right is= melon

Q12. Use a range of indexes to print the third, fourth, and fifth item in the list. ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

In [18]:
fruits=["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
# printing the third, fourth and fith item frim the list
print('the 3rd , 4th and 5th item is =', fruits[2:5])

the 3rd , 4th and 5th item is = ['cherry', 'orange', 'kiwi']

Q13. Use the correct syntax to print the number of items in the list. ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

In [19]:
Fruit=["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print('the number of items in the list is =', len(Fruit))

the number of items in the list is = 7

Q14. Use the correct syntax to sort this list in reverse order ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

In [20]:
# reversing the list
FRUITY=["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

# Reversing a list using slicing technique
def Reverse(FRUITY):
   new_Fruit_list = FRUITY[::-1]
   return new_Fruit_list
print('Reverse fruit list =', Reverse(FRUITY))

Reverse fruit list = ['mango', 'melon', 'kiwi', 'orange', 'cherry', 'banana', 'apple']

## Use a Python code file for this section

Q15. Use the DateTime module to get Current Date and Time, and save it to a variable. Then extract just the Full month name form that variable.

In [21]:
# using Date Time
import datetime as dt

# Get Current Date and Time
Current_time = dt.datetime.now()
print("Current Date and Time ...", Current_time)

Current Date and Time ... 2023-08-20 21:55:27.977816

In [22]:
# Extracting Full month name
from datetime import date
today = date.today()
print("Current month:", today.month)

Current month: 8

Q16. Write a simple function that takes 2 parameters -- a first name and a day name.

In [23]:
# Set a default value for the day name of Sunday.
def first_Name(fname):
    print(fname +  "Monday")

first_Name("Sylvester ")

Sylvester Monday

In [24]:
def displayMessage(argument1, argument2):
          print(argument1+" "+argument2 )
 
# function call
displayMessage("Sylvester", "Wednesday")

Sylvester Wednesday

In [25]:
# Have the function print out a greeting -- using the parameters -- that says something like "Hi first-name! Happy day-name!". Remember to use the variables in the greeting to replace first-name and day-name.
def practice(argument1, argument2):
          print('Hi' ,argument1+" "+'Happy' ,argument2 )
 
# function call
practice("Sylvester!", "Wednesday!")

Hi Sylvester! Happy Wednesday!

In [26]:
# Invoke this function with 2 variables.
# defining the variables
def my_info():
    name = input('what is my name? ')
    state = input('which state are you staying? ')
    trying(name, state)

def trying(name, state):
          print('This is' ,name+" "+'he is from' ,state, )
 
# function call
trying("Sylvester", "Massachusetts!")

This is Sylvester he is from Massachusetts!

In [27]:
# Invoke this function with 1 variable only.
def display(season):
          print('I hate' ,season  )
 
# function call
display("winter")

I hate winter

Q17. Write a block of code to handle one of the most common Python exception errors. Select one of the common errors from the curriculum section on Python Exception handling. Have your code example uses the try,except, else, and finally components.

In [28]:
try: 
    print("Hello")
except:
    print("Something went wrong")
else:
    print("Nothing went wrong")
finally:
    print("The 'try except' is finished")

Hello
Nothing went wrong
The 'try except' is finished

In [29]:
# when the except statement is not true
try: 
    x=10+7
except:
    print("Something went wrong")
else:
    print("Nothing went wrong")
finally:
    print("The 'try else' is finished")

Nothing went wrong
The 'try else' is finished

In [30]:
# when the except statement is true
try: 
    x1=x1+12
except:
    print("Something went wrong")
else:
    print("Nothing went wrong")
finally:
    print("The 'try except' is finished")

Something went wrong
The 'try except' is finished